/* 
    Reset
 */
html, body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

/* 
    root container
*/
.root-container{
    background-color: rgb(59, 59, 59);
}

/* 
    Navigation Bar
*/
.navigation-bar{
    width: 100%;
    height: 40px;
    background: #000;
}

.calculator{
    background: #fff;
    box-shadow: 0px 0px 15px rgb(95, 95, 95);
    width: 350px;
}

.display-input{
    height: 100px;
}

.input-field{
    border: none;
}

.input-field:focus{
    outline: none;
}

.container-button button {
    flex-basis: calc(25% - 10px);
    margin-top: 15px;
    margin-bottom: 10px;
    height: 60px;
    border-radius: 10px;
    background-color: #eee;
    border: none;
}

.button:hover{
    background-color: #ccc;
}

.btn-operasi{
    color: rgb(52, 150, 241) !important;
}

